<div class="container table-responsive mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ürün Adı</th>
        <th scope="col">Birim Fiyatı</th>
        <th scope="col">Adet</th>
        <th scope="col">Toplam Fiyat</th>
        <th scope="col">İşlemler</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.unitPrice | currency : "₺" }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.quantity * item.product.unitPrice | currency : "₺" }}</td>
        <td>
          <button (click)="remove(item)" class="btn btn-danger mx-2">
            Kaldır
          </button>
          <button (click)="increase(item)" class="btn btn-primary mx-2">
            +
          </button>
          <button (click)="decrease(item)" class="btn btn-secondary mx-2">
            -
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
