<div [formGroup]="formGroup">
  <label [for]="id" class="sr-only">{{ label | translate }}</label>
  <input
    [type]="type"
    [id]="id"
    class="form-control"
    [placeholder]="placeHolder | translate"
    required
    [formControlName]="formControlName"
  />
  <span class="text-danger" *ngIf="hasValidationError('required')">{{
    "required" | translate : { field: label | translate }
  }}</span>
  <span class="text-danger" *ngIf="hasValidationError('minlength')">
    {{
      "minLength"
        | translate
          : {
              field: label | translate,
              min: getErrorDetails("minlength").requiredLength
            }
    }}
  </span>
</div>