<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Etiya</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a 
          class="nav-link active" 
          aria-current="page" 
          routerLink="/homepage"
          routerLinkActive="active"
          >Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Ürünler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Siparişler</a>
        </li>
      </ul>
      <!-- UL'nin altındaki span tagını -->
      <div class="navbar-text">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link"> Giriş Yap </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Kayıt Ol</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<ng-content></ng-content>
<footer>Bla bla</footer>