<div class="container mt-3">
  <div class="form-group">
    <label>Ad</label>
    <input
      [ngModel]="firstName()"
      (ngModelChange)="firstName.set($event)"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label>Soyad</label>
    <input
      [ngModel]="lastName()"
      (ngModelChange)="lastName.set($event)"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label>Yaş</label>
    <input
      [ngModel]="age()"
      (ngModelChange)="age.set($event)"
      class="form-control"
      type="number"
    />
  </div>

  <div class="">
    <p>Sayın {{ fullName() }}</p>
  </div>

  <button class="btn btn-primary" [disabled]="!isAdult()">
    {{ isAdult() ? "Kayıt Ol" : "18 yaşından küçükler kayıt olamaz." }}
  </button>
</div>
