<div class="d-flex w-100 h-100vh justify-content-center align-items-center">
  <form
    (submit)="submitForm()"
    [formGroup]="loginForm"
    class="form-signin w-50"
  >
        <h1 class="h3 mb-3 font-weight-normal">{{ "signInTitle" | translate }}</h1>
        <label for="inputEmail" class="sr-only">{{ "email" | translate }}</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        [placeholder]="'email' | translate"
        required
        autofocus
        formControlName="email"
      />
      <label for="inputPassword" class="sr-only">{{
        "password" | translate
      }}</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        formControlName="password"
        [placeholder]="'password' | translate"
        required
      />
      <div class="checkbox mb-3">
        <label>
            <input 
            formControlName="rememberMe"
            type="checkbox" 
            value="remember-me" 
            />
            {{ "rememberMe" | translate }}
          </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        {{ "submit" | translate }}
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>